@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Krona+One&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Jost:ital,wght@0,100..900;1,100..900&family=Krona+One&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Huninn&family=Jost:ital,wght@0,100..900;1,100..900&family=Krona+One&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');






:root{
    --fonte-titulo: "Huninn", sans-serif;
    --fonte-texto: "Jost", sans-serif;
    --fonte-logo: "Anton", sans-serif;
}


body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
}

header{
   padding: 5px 0;
   height: 50px;
  background-color: slategray;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.titulobox{
    background-color: dimgray;
    border-radius: 10px;
    width: 500px;
    height: 100px;
}
.titulobox2{
    background-color: dimgray;
    border-radius: 10px;
    width: 605px;
    height: 105px;
}
.apresentaçãoButton{
    background-color: darkslategray;
    border-radius: 10px;
    width: 500px;
    height: 100px;
    display: flex;
}

.button{
  width: 200px;
  text-align: center;
  padding: 5px 6px;
  text-decoration:none;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  color:black;
  font-weight: bold;
  border-radius: 7px;
  background-color:lightblue;
  font-family: var(--fonte-texto);
}
.buttonSair{
  width: 178px;
  text-align: center;
  padding: 5px 6px;
  text-decoration:none;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  color:black;
  font-weight: bold;
  border-radius: 7px;
  background-color:crimson;
  font-family: var(--fonte-texto);
}
 




.buttonHisto{
  width: 200px;
  text-align: center;
  padding: 5px 6px;
  text-decoration:none;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  color:black;
  font-weight: bold;
  border-radius: 7px;
  background-color:mediumslateblue;
  font-family: var(--fonte-texto);
}
.button:hover{
    background-color: teal;
    color:white;
}
.buttonHisto:hover{
    background-color: indigo;
    color:white;
}
.buttonSair:hover{
    background-color:darkred;
    color: white;
}
.texto{
    font-family: var(--fonte-texto);
    align-self: center;
    text-align: center;
    font-size: 16px;
}

.rodapé{
    color:beige;
    background-color:slategrey;
    padding: 17px;
    text-align: center;
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 1rem;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    max-width: 150px;
}

.btn-primary { 
    text-align: center;
    background-color:grey; 
    border-color:darkslategrey;
}
.btn-primary:hover {
    background-color: #45a049;
    border-color: #45a049;
}

.table-responsive {
    margin-top: 20px;
}

.action-buttons a {
    margin-right: 5px;
}

.login{
  text-align: center;
}
