@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Krona+One&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Jost:ital,wght@0,100..900;1,100..900&family=Krona+One&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

:root{
    --fonte-titulo: "Huninn", sans-serif;
    --fonte-texto: "Jost", sans-serif;
}


body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    max-width: 150px;
}

.btn-primary { 
    background-color: #4CAF50; 
    border-color: #4CAF50;
}
.btn-primary:hover {
    background-color: #45a049;
    border-color: #45a049;
}

.table-responsive {
    margin-top: 20px;
}

.action-buttons a {
    margin-right: 5px;
}